.container {
    height: 100vh;
    width: 100%;
    background: var(--theme-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    color: #000;
    list-style-type: none;

    position: absolute;
    top: 0;
    width: 40%;
    bottom: 0;
    left: 0;
}

ul li {
    border: 1px solid #000;
    height: 55px;
}
