.graphContainer {
    /*width: 50vw;
    height: 50vh;
    */
    background: white;
    padding: 30px 20px 10px 20px;

    position: absolute;
    top: 0;
    width: 60%;
    right: 0;
    bottom: 0;border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
    }
}
